/* popup.css */
body {
  font-family: sans-serif;
  background: #1e1e1e;
  color: #fff;
  padding: 10px;
  width: 300px;
}

h2 {
  text-align: center;
}

button {
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

button:hover {
  background: #524ae2;
}

#info {
  background: #2c2c2c;
  padding: 8px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
  max-height: 300px;
  overflow-y: auto;
}

input {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #555;
  background: #333;
  color: #fff;
}

